h1{

    text-align: center;
    color: red;
    font-style: italic;
    font-size: x-large;

}
h2{
    text-align: center;
    color: rgb(255, 217, 0);
    font-style: italic;
    font-size: large;
}
h3{
    text-align: center;
    color:red;
    font-style: italic;
    font-size: small;
}
label{
    font-style: oblique;
    color: yellow;
    font-size:medium;
}
button{
    background-color: red;
    size: 50px;
}
body{
    background-color:lightblue; 
}

